<div class="form-container">
    <%= form_tag login_path, method: :post, class: "form" do %>
        <%= image_tag asset_path('logo.svg'), class: "form-logo" %>   
        <p class="title">Iniciar Sesión</p>
        <%= email_field_tag :email, "", placeholder: "Email" %>
        <%= password_field_tag :password, "", placeholder: "Contraseña" %>
        <%= submit_tag "Iniciar sesión" %>
        <%= link_to "¿No tienes cuenta?", signup_path, class: "account-notice" %>
    <% end %>
</div>
